/notebooks/.ipynb_checkpoints/
/data/raw/.ipynb_checkpoints/
/src/.ipynb_checkpoints/
/SQL_CONFIG.py
/data/processed/.ipynb_checkpoints/
/data/.ipynb_checkpoints/
/.ipynb_checkpoints/
/src/data_exploration/.ipynb_checkpoints/
